<!-- Blazor Section -->
@page "/PFBD_Admin"
@using YamlDotNet.Serialization
@using Newtonsoft.Json
@using System.IO
@using System.IO.Compression
@using Microsoft.Extensions.FileSystemGlobbing.Internal.PathSegments
@using Newtonsoft.Json.Linq
@using Prometheus_File_Discovery_.NET_Core_3._1.Pages.Prometheus_File_Based_Discovery.Model
@inject IJSRuntime JS


@* @inject HttpClient Http *@

<!-- HTML Section -->
<div class="container-fluid mt-3">

@if (string.IsNullOrEmpty(fileString))
{
    <div class="row my-4 justify-content-center">
        <h1 class="display-3 text-center text-muted">Prometheus Configurator</h1>

        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="#" aria-current="page" @onclick:preventDefault @onclick="saveConfig">Save Configuration</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" @onclick:preventDefault @onclick="downloadFiles">Download Files</a>
            </li>
            <li class="nav-item">
                <sup>
                    <h6 class="float-end">
                        <p>
                            <span class="badge bg-warning text-dark" style="margin-top:11px;">No previous config found</span>
                        </p>
                    </h6>
                </sup>
            </li>
        </ul>

    </div>
}
else
{
    <div class="row my-4 justify-content-center">
        <h1 class="display-3 text-center text-muted">Prometheus Configurator </h1>

        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="#" aria-current="page" @onclick:preventDefault @onclick="@saveConfig">Save Configuration</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" @onclick:preventDefault @onclick="downloadFiles">Download Files</a>
            </li>
            <li class="nav-item">
                <p>
                    <span class="badge bg-success text-white" style="margin-top:11px;">Config loaded</span>
                </p>
            </li>
        </ul>
    </div>
}


<!-- Control Forms -->
<div class="row my-5">


    <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>

        <div class="carousel-inner">

            <!-- Add Form Input -->
            <div class="carousel-item active" data-bs-interval="9000000000">
                <div class="card w-50 mx-auto">
                    <div class="card-header">
                        <h3 class="text-center">Add</h3>
                    </div>
                    <div class="card-body border border-info">
                        <div class="input-group needs-validation input-group-sm mb-3">
                            <span class="input-group-text" id="basic-addon1">Job Name</span>
                            <input type="text" class="form-control" @bind-value="@add_jobName" placeholder="Job Name" aria-label="Job Name" aria-describedby="basic-addon1" required/>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="basic-addon1">Targets</span>
                            <input type="text" class="form-control" @bind-value="@add_targets" placeholder="192.168.0.1:8000, 192.168.1.1:3000" aria-label="Scrape Interval" aria-describedby="basic-addon1"/>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="basic-addon1">Labels</span>
                            <input type="text" class="form-control" @bind-value="@add_labels" placeholder="key:value, key2:value2" aria-label="Scrape Interval" aria-describedby="basic-addon1"/>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="basic-addon1">Scrape Interval</span>
                            <input type="text" class="form-control" @bind-value="@add_scrapeInterval" placeholder="10s" aria-label="Scrape Interval" aria-describedby="basic-addon1"/>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="basic-addon1">Scrape Timeout</span>
                            <input type="text" class="form-control" @bind-value="@add_scrapeTimeout" placeholder="5s" aria-label="Scrape Timeout" aria-describedby="basic-addon1"/>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="basic-addon1">Metrics Path</span>
                            <input type="text" class="form-control" @bind-value="@add_metricsPath" placeholder="/metrics" aria-label="Metrics Path" aria-describedby="basic-addon1"/>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <label class="input-group-text" for="inputGroupSelect01">Scheme</label>
                            <select class="form-select" id="inputGroupSelect01">
                                <option value="https">https</option>
                                <option value="http">http</option>
                            </select>
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                        <button type="button" class="btn btn-primary float-end" @onclick="addScrapingTarget">Add</button>
                    </div>
                </div>
            </div>

            <!-- Update Form Input -->
            <div class="carousel-item" data-bs-interval="9000000000">
                <div class="card w-50 mx-auto">
                    <div class="card-header">
                        <h3 class="text-center">Update</h3>
                    </div>
                    <div class="card-body border border-warning">
                        <div class="input-group input-group-sm mb-3">
                            <label class="input-group-text" for="inputGroupSelect01">Job Name</label>
                            <select class="form-select" @onchange="@updateUpdateFields" id="inputGroupSelect01">
                                @foreach (string jobName in jobNames)
                                {
                                    <option value="@jobName">@jobName</option>
                                }
                            </select>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="basic-addon1">Targets</span>
                            <input type="text" class="form-control" @bind-value="@update_targets" placeholder="192.168.0.1:8000, 192.168.1.1:3000" aria-label="Scrape Interval" aria-describedby="basic-addon1"/>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="basic-addon1">Labels</span>
                            <input type="text" class="form-control" @bind-value="@update_labels" placeholder="key:value, key2:value2" aria-label="Scrape Interval" aria-describedby="basic-addon1"/>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="basic-addon1">Scrape Interval</span>
                            <input type="text" class="form-control" @bind-value="@update_scrapeInterval" placeholder="10s" aria-label="Scrape Interval" aria-describedby="basic-addon1"/>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="basic-addon1">Scrape Timeout</span>
                            <input type="text" class="form-control" @bind-value="@update_scrapeTimeout" placeholder="5s" aria-label="Scrape Timeout" aria-describedby="basic-addon1"/>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="basic-addon1">Metrics Path</span>
                            <input type="text" class="form-control" @bind-value="@update_metricsPath" placeholder="/metrics" aria-label="Metrics Path" aria-describedby="basic-addon1"/>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <label class="input-group-text" for="inputGroupSelect01">Scheme</label>
                            <select @bind="@update_scheme" class="form-select" id="inputGroupSelect01">
                                <option value="https">https</option>
                                <option value="http">http</option>
                            </select>
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                        <button type="button" class="btn btn-primary float-end" @onclick="updateScrapingTarget">Update</button>
                    </div>
                </div>
            </div>

            <!-- Delete Form Input -->
            <div class="carousel-item" data-bs-interval="9000000000">
                <div class="card w-50 mx-auto">
                    <div class="card-header">
                        <h3 class="text-center">Remove</h3>
                    </div>
                    <div class="card-body border border-secondary">
                        <div class="input-group input-group-sm mb-3">
                            <label class="input-group-text" for="inputGroupSelect01">Job Name</label>
                            <select class="form-select" @onchange="@updateDeleteField" id="inputGroupSelect01">
                                @foreach (string jobName in jobNames)
                                {
                                    <option value="@jobName">@jobName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                        <button type="button" class="btn btn-danger float-end" @onclick="removeScrapingTarget">Remove</button>
                    </div>
                </div>

                <!-- Upload configuration -->
                <div class="card my-4 w-50 mx-auto">
                    <div class="card-header">
                        <h3 class="text-center">Upload Configuration</h3>
                    </div>
                    <div class="card-body border border-secondary">
                        <div class="input-group mb-3">
                            <InputFile OnChange="@OnInputFileChange"></InputFile>
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                        <button type="button" class="btn btn-warning float-end" @onclick="uploadConfiguration">Upload</button>
                    </div>
                </div>
            </div>

        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</div>

<!-- Alerts -->
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
  </symbol>
  <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
  </symbol>
  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </symbol>
</svg>

@if (showAddAlert)
{
<div class="alert alert-success alert-dismissible fade show d-flex" role="alert">
  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
    <div>
        Target added successfully!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    
</div>
}

@if (showUpdateAlert)
{
<div class="alert alert-success alert-dismissible fade show d-flex" role="alert">
  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
    <div>
        Target updated successfully!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    
</div>
}

@if (showDeleteAlert)
{
<div class="alert alert-success alert-dismissible fade show d-flex" role="alert">
  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
    <div>
        Target removed successfully!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    
</div>
}

@if (showUploadAlert)
{
<div class="alert alert-success alert-dismissible fade show d-flex" role="alert">
  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#info-fill"/></svg>
    <div>
        Configuration uploaded successfully!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    
</div>
}

@if (showOverrideAlert)
{
<div class="alert alert-warning alert-dismissible fade show d-flex" role="alert">
  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#info-fill"/></svg>
    <div>
        Attention: You're about to upload a new configuration. By doing so, you will override the currently existing
        config, hence deleting all the current files and replacing them with your newly uploaded one.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    
</div>
}

</div>


<!-- Code Section-->

@code {
    
    // Fields
    private string? add_jobName { get; set; }
    private string? add_scrapeInterval { get; set; }
    private string? add_scrapeTimeout { get; set; }
    private string? add_metricsPath { get; set; }
    private string? add_scheme { get; set; }
    private string? add_targets { get; set; }
    private string? add_labels { get; set; }
    private List<string> add_targetList { get; } = new List<string>();
    private List<ConfigurationComponents.Label> add_labelList { get; } = new List<ConfigurationComponents.Label>();

    private string? update_jobName { get; set; }
    private string? update_scrapeInterval { get; set; }
    private string? update_scrapeTimeout { get; set; }
    private string? update_metricsPath { get; set; }
    private string? update_scheme { get; set; }
    private string? update_targets { get; set; }
    private string? update_labels { get; set; }
    private List<string> update_targetList { get; } = new List<string>();
    private List<ConfigurationComponents.Label> update_LabelList { get; } = new List<ConfigurationComponents.Label>();
    private List<string> jobNames = new List<string>();

    private readonly string lastUploadPath = "Data/uploaded_prometheus_config.yml";
    private readonly string lastConfigPath = "Data/previous_prometheus_config.yml";
    private readonly string savedYamlConfigPath = "Data/prometheus.yml";
    private readonly string savedClassicYamlConfigPath = "Data/prometheus.yml";
    private readonly string savedJsonConfigPath = "Data/targets_";
    private readonly string zipPath = "Data/prometheus_config.zip";

    private string? delete_jobName { get; set; }
    private IFileListEntry file;
    private dynamic? dynamicConfig { get; set; }
    private dynamic? currentDynamicConfig { get; set; }
    private string fileString { get; set; }
    private string jsonConfigString { get; set; }
    private string yamlConfigString { get; set; }
    private List<dynamic> changes = new List<dynamic>(); // This may be obsolete
    private PrometheusConfiguration prometheusConfiguration { get; set; } = new PrometheusConfiguration();

    private bool showAddAlert { get; set; } = false;
    private bool showUpdateAlert { get; set; } = false;
    private bool showDeleteAlert { get; set; } = false;
    private bool showUploadAlert { get; set; } = false;
    private bool showOverrideAlert { get; set; } = false;


    // ------------------------------------------  Methods to load & save data
    protected override async Task OnInitializedAsync()
    {
    // Load last config
        if (File.Exists(lastConfigPath) && string.IsNullOrEmpty(fileString))
        {
            Console.WriteLine("Uploaded Configuration detected...");
            fileString = await File.ReadAllTextAsync(lastConfigPath);
            convertUploadToJson(fileString);
            Console.WriteLine("Configuration loaded successfully: ");
            changes.Add(dynamicConfig);
            currentDynamicConfig = dynamicConfig;

    // Populate update-dropdown panel with jobs
            this.updateDropdowns();
        }

        else if (File.Exists(lastUploadPath) && string.IsNullOrEmpty(fileString))
        {
            Console.WriteLine("Uploaded Configuration detected...");
            fileString = await File.ReadAllTextAsync(lastUploadPath);
            convertUploadToJson(fileString);
            Console.WriteLine("Configuration loaded successfully: ");
            changes.Add(dynamicConfig);
            var clone = JsonConvert.DeserializeObject<dynamic>(JsonConvert.SerializeObject(dynamicConfig));
            currentDynamicConfig = clone;

    // Populate update-dropdown panel with jobs
            this.updateDropdowns();
        }
    }

    private void OnInputFileChange(IFileListEntry[] files)
    {
        // Create popup, warning for overriding configuration
        if (!string.IsNullOrEmpty(fileString))
        {
            showOverrideAlert = true;
        }
        
        Console.WriteLine("File upload detected");
        file = files.FirstOrDefault();
    }

    private void convertUploadToJson(string fileString)
    {
    // Convert file input to YAML object
        try
        {
            var deserializer = new Deserializer();
            var stringReader = new StringReader(fileString);
            var yamlObject = deserializer.Deserialize(stringReader);

    // Convert YAML object to JSON object
            var serializer = new JsonSerializer();
            var stringWriter = new StringWriter();
            serializer.Serialize(stringWriter, yamlObject);

    // Create dynamic class out of JSON object
            dynamicConfig = JsonConvert.DeserializeObject(stringWriter.ToString());
            jsonConfigString = dynamicConfig.ToString();
        }
        catch (Exception e)
        {
            Console.WriteLine($"[CONVERSION:C#:EXCEPTION] {e}");
        }
    }

    private async Task readUpload()
    {
        // Read file
        try
        {
            using var reader = new System.IO.StreamReader(file.Data);
            fileString = await reader.ReadToEndAsync();
        }
        catch (Exception e)
        {
            Console.WriteLine($"[UPLOAD:EXCEPTION] {e}");
        }


    // Create a copy of the upload on the server
        try
        {
            await File.WriteAllTextAsync(lastUploadPath, fileString);
        }
        catch (Exception e)
        {
            Console.WriteLine($"[FILE:WRITE:EXCEPTION] {e}");
        }
    }

    private async Task saveConfig()
    {
        if (!string.IsNullOrEmpty(fileString))
        {
            // Save a "classic" prometheus.yml file, without the addition of file_sd_configs
            yamlConfigString = PrometheusYamlDeserializer.serializeToYaml(currentDynamicConfig.ToString());
            try
            {
                await File.WriteAllTextAsync(lastConfigPath, yamlConfigString);
            }
            catch (Exception e)
            {
                Console.WriteLine($"[YAML:FILE.WRITE:EXCEPTION] {e}");
            }

            var clone = JsonConvert.DeserializeObject<dynamic>(JsonConvert.SerializeObject(dynamicConfig));

            // For each scrape_config (POH job), get the labels & the targets and put them in a separate JSON file
            for (int scrapeConfigsIndex = 0; scrapeConfigsIndex < clone["scrape_configs"].Count; scrapeConfigsIndex++)
            {
                string jobName = clone["scrape_configs"][scrapeConfigsIndex]["job_name"];
                JArray staticConfigs = clone["scrape_configs"][scrapeConfigsIndex]["static_configs"];

                try
                {
                    // Validate json & write to file
                    InputValidator inputValidator = InputValidator.getInputValidator();
                    string staticConfigString = inputValidator.validateJson(staticConfigs.ToString());
                    await File.WriteAllTextAsync(savedJsonConfigPath + jobName + ".json", staticConfigString);
                }
                catch (Exception e)
                {
                    Console.WriteLine($"[JSON:FILE.WRITE:EXCEPTION] {e}");
                }

                // Manipulate the scrape_config objet to discard it's labels & targets and only have a job_name & file_sd_configs now instead
                clone["scrape_configs"][scrapeConfigsIndex].Remove("static_configs");
                clone["scrape_configs"][scrapeConfigsIndex].Add("file_sd_configs", new JArray(new JObject(new JProperty("files",
                    new JArray("targets_" + jobName + ".json")))));
                
            }

            // Update drop-downs
            jobNames.Clear();
            foreach (var job in clone["scrape_configs"])
            {
                jobNames.Add(job["job_name"].ToString());
            }

            // Convert to YAML & Write to file
            var cloneYamlConfigString = PrometheusYamlDeserializer.serializeToYaml(clone.ToString());
            var originalYamlConfigString = PrometheusYamlDeserializer.serializeToYaml(dynamicConfig.ToString());
            try
            {
                await File.WriteAllTextAsync(savedYamlConfigPath, cloneYamlConfigString);
                await File.WriteAllTextAsync(lastConfigPath, originalYamlConfigString);
            }
            catch (Exception e)
            {
                Console.WriteLine($"[YAML:FILE.WRITE:EXCEPTION] {e}");
            }
        }

        Console.WriteLine("Configuration saved");
        this.updateDropdowns();
    }

    private void updateUpdateFields(ChangeEventArgs eventArgs)
    {
        string selectedString = eventArgs.Value.ToString();
        foreach (var job in dynamicConfig["scrape_configs"])
        {
            if (job["job_name"] == selectedString)
            {
                update_jobName = selectedString;
                update_scrapeInterval = job["scrape_interval"];
                update_scrapeTimeout = job["scrape_timeout"];
                update_scheme = job["scheme"];

    // Read the rest of the information from the separate .JSON file
                if (File.Exists(savedJsonConfigPath + selectedString + ".json"))
                {
                    try
                    {
                        dynamic static_configs = JsonConvert.DeserializeObject(File.ReadAllText(savedJsonConfigPath + selectedString + ".json"));
                        foreach (var option in static_configs)
                        {
                            if (option.ContainsKey("targets"))
                            {
                                string targetsString = option["targets"].ToString();
                                targetsString = targetsString.Replace("[", "")
                                    .Replace("]", "")
                                    .Replace("\"", "")
                                    .Replace(" ", "")
                                    .Replace(",", ", ");
                                update_targets = targetsString;
                            }
                            if (option.ContainsKey("labels"))
                            {
                                string labelString = option["labels"].ToString();
                                labelString = labelString.Replace("{", "")
                                    .Replace("}", "")
                                    .Replace("\"", "")
                                    .Replace(" ", "")
                                    .Replace(",", ", ");
                                update_labels = labelString;
                            }

                            if (option.ContainsKey("scheme"))
                            {
                                update_scheme = option["scheme"];
                            }
                            else
                            {
                                update_scheme = "http";
                            }

                            if (option.ContainsKey("metrics_path"))
                            {
                                update_metricsPath = option["metrics_path"];
                            }
                            else
                            {
                                update_metricsPath = "/metrics";
                            }
                        }
                    }
                    catch (Exception e)
                    {
                        Console.WriteLine($"[JSON:CONVERT:EXCEPTION] {e}");
                    }
                }
            }
        }
    }

    private void updateDeleteField(ChangeEventArgs eventArgs)
    {
        delete_jobName = eventArgs.Value.ToString();
    }

    private void downloadFiles()
    {
        this.createZip();
        this.downloadZip();
    }

    private void createZip()
    {
        using (var memoryStream = new MemoryStream())
        {
            using (var archive = new ZipArchive(memoryStream, ZipArchiveMode.Create, true))
            {
                foreach (var fileEntry in Directory.GetFiles("Data"))
                {
                    if (fileEntry.Contains(".json") || fileEntry.Contains(".yml"))
                    {
                        var archiveEntry = archive.CreateEntry(fileEntry.Replace("Data\\", ""));

                        using (var entryStream = archiveEntry.Open())
                        using (var streamWriter = new StreamWriter(entryStream))
                        {
                            streamWriter.Write(File.ReadAllText(fileEntry));
                        }
                    }
                }
            }
            using (var fileStream = new FileStream(zipPath, FileMode.Create))
            {
                memoryStream.Seek(0, SeekOrigin.Begin);
                memoryStream.CopyTo(fileStream);
            }
        }
    }

    private async Task downloadZip()
    {
        var fileDownload = await File.ReadAllBytesAsync(zipPath);
        await JS.InvokeVoidAsync("BlazorDownloadFile", "prometheus_config.zip", "application/zip", fileDownload);
    }


    // ------------------------------------------ Methods to manipulate config model
    private void addScrapingTarget()
    {
    // Set defaults where necessary
        if (string.IsNullOrEmpty(add_jobName))
        {
            add_jobName = "JobDefault";
        }
        if (string.IsNullOrEmpty(add_scrapeInterval))
        {
            add_scrapeInterval = "10s";
        }
        if (string.IsNullOrEmpty(add_scrapeTimeout))
        {
            add_scrapeTimeout = "5s";
        }
        if (string.IsNullOrEmpty(add_metricsPath))
        {
            add_metricsPath = "/metrics";
        }
        if (string.IsNullOrEmpty(add_scheme))
        {
            add_scheme = "https";
        }
        if (string.IsNullOrEmpty(add_targets))
        {
            add_targets = "192.168.0.1";
        }
        if (string.IsNullOrEmpty(add_labels))
        {
            add_labels = "label_1:value_1";
        }

    // Fill up collections
        add_targetList.AddRange(add_targets.Split(", "));
        var labels = add_labels.Split(", ");
        var splitLabels = from label in labels select label.Split(":");
        for (var index = 0; index < splitLabels.Count(); index += 1)
        {
            var key = splitLabels.ElementAt(index)[0];
            var value = splitLabels.ElementAt(index)[1];
            var label = new ConfigurationComponents.Label(key, value);
            add_labelList.Add(label);
        }

    // Create new Prometheus Job
        var prometheusJob = new PrometheusJob(add_jobName, add_scrapeInterval, add_scrapeTimeout,
            add_metricsPath, add_scheme, add_targetList, add_labelList);

    // Add to existing model
        dynamicConfig["scrape_configs"].Add(JObject.FromObject(prometheusJob.toScrapeConfigObject()));

        Console.WriteLine("Scrape Config Added");
        this.updateDropdowns();
        this.saveConfig();
        this.showAddAlert = true;
        this.StateHasChanged();
    }

    private void updateScrapingTarget()
    {

    // Set defaults where necessary
        if (string.IsNullOrEmpty(update_jobName))
        {
            update_jobName = "JobDefault";
        }
        if (string.IsNullOrEmpty(update_scrapeInterval))
        {
            update_scrapeInterval = "10s";
        }
        if (string.IsNullOrEmpty(update_scrapeTimeout))
        {
            update_scrapeTimeout = "5s";
        }
        if (string.IsNullOrEmpty(update_metricsPath))
        {
            update_metricsPath = "/metrics";
        }
        if (string.IsNullOrEmpty(update_scheme))
        {
            update_scheme = "http";
        }
        if (string.IsNullOrEmpty(update_targets))
        {
            update_targets = "192.168.0.1";
        }
        if (string.IsNullOrEmpty(update_labels))
        {
            update_labels = "label_1:value_1";
        }

    // Fill up collections
        update_targetList.AddRange(update_targets.Split(","));
        var labels = update_labels.Split(", ");
        var splitLabels = from label in labels select label.Split(":");
        for (var index = 0; index < splitLabels.Count(); index += 1)
        {
            var key = splitLabels.ElementAt(index)[0];
            var value = splitLabels.ElementAt(index)[1];
            // Prevent defaults
            if (key != "label_1")
            {
                var label = new ConfigurationComponents.Label(key, value);
                update_LabelList.Add(label);
            }
            
        }

    // Create new Prometheus Job
        var prometheusJob = new PrometheusJob(update_jobName, update_scrapeInterval, update_scrapeTimeout,
            update_metricsPath, update_scheme, update_targetList, update_LabelList);

    // Update existing model
        for (int i = 0; i <= dynamicConfig["scrape_configs"].Count; i++)
        {
            if (dynamicConfig["scrape_configs"][i]["job_name"] != update_jobName) continue;
            dynamicConfig["scrape_configs"][i].Remove();
            break;
        }
        dynamicConfig["scrape_configs"].Add(JObject.FromObject(prometheusJob.toScrapeConfigObject()));
        Console.WriteLine("Updated job: " + update_jobName);
        this.updateDropdowns();
        update_labels = "";
        this.saveConfig();
        this.showUpdateAlert = true;
        this.StateHasChanged();
    }

    private void removeScrapingTarget()
    {
        for (int i = 0; i <= dynamicConfig["scrape_configs"].Count; i++)
        {
            if (dynamicConfig["scrape_configs"][i]["job_name"] != delete_jobName) continue;
            dynamicConfig["scrape_configs"][i].Remove();
            break;
        }
        if (File.Exists(savedJsonConfigPath + delete_jobName + ".json"))
        {
            try
            {
                File.Delete(savedJsonConfigPath + delete_jobName + ".json");
            }
            catch (Exception e)
            {
                Console.WriteLine($"[FILE:DELETION:EXCEPTION] {e}");
            }
        }
        Console.WriteLine("Job \"" + delete_jobName + "\" removed.");
        this.updateDropdowns();
        this.saveConfig();
        this.showDeleteAlert = true;
        this.StateHasChanged();
    }

    private async void uploadConfiguration()
    {
        // Cleanup Data directory if a previous config existed
        if (!String.IsNullOrEmpty(fileString))
        {
            // Create Backup Dir
            string todayString = DateTime.Now.ToString("g")
                .Replace("/", ".")
                .Replace(" ", "-")
                .Replace(":", "T");
            string backupString = $"Data\\backup\\{todayString}";
            DirectoryInfo dirInfo = Directory.CreateDirectory(backupString);
            foreach (var fileEntry in Directory.GetFiles("Data"))
            {
                if (fileEntry.Contains(".json") || fileEntry.Contains(".yml"))
                {
                    File.Move(fileEntry, backupString + "\\" +  fileEntry.Replace("Data\\", ""));
                    File.Delete(fileEntry);
                }
            }
        }
        
        // Read files
        try
        {
            // We're creating a copy of the upload while reading
            await readUpload();
        }
        catch (Exception e)
        {
            Console.WriteLine($"[UPLOAD:EXCEPTION] {e}");
        }


        // Convert to JSON
        try
        {
            // Here we define the dynamicConfig variable
            convertUploadToJson(fileString);
        }
        catch (Exception e)
        {
            Console.WriteLine($"[CONVERSION:JSON:EXCEPTION] {e}");
        }


        // Convert to .Net object
        try
        {
            currentDynamicConfig = dynamicConfig;
            prometheusConfiguration = JsonToPrometheusConverter.convertJsonToDotNet(dynamicConfig, prometheusConfiguration);
        }
        catch (Exception e)
        {
            Console.WriteLine($"[CONVERSION:C#:EXCEPTION] {e}");
        }

        // Clean inputs
        file = null;
        
        // Refresh UI & save config
        await this.saveConfig();
        this.showUploadAlert = true;
        this.StateHasChanged();
    }

    private void updateDropdowns()
    {
        jobNames.Clear();
        foreach (var job in dynamicConfig["scrape_configs"])
        {
            jobNames.Add(job["job_name"].ToString());
        }
        this.StateHasChanged();
    }

    // TODO: Complete proper backup-mechanism
    // TODO: Updating a scraping target leads to multiple wrong entries in the target section
}